@model IEnumerable<EmployeesManagement.Models.LeaveApplication>

@{
    ViewData["Title"] = "Approved Leave Applications";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Approved Leave Application Details</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoOfDays)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Attachment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Attachment)
                        </td>
                        <td style="background-color: steelblue">
                            @Html.DisplayFor(modelItem => item.Status.Description)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
        
                                <div class="dropdown-menu dropdown-menu-right p-1" style="min-width: 110px;">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm btn-block text-left mb-1">
                                        <i class="fas fa-eye fa-fw"></i> View
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>